html[data-bs-theme="dark"] {
    --phs-logo-path: url('../img/phs-logo-white.svg');
    --phs-ogl-logo-path: url('../img/ogl-logo-white.svg');
    --phs-color-bg: #1a1a2e;
    --phs-color-fg: #e8e8e8;
    --phs-color-navbar-bg: #1a1a2e;
    --phs-data-grid-header-bgcolor: #4c4a4b;
    --phs-color-primary: #9f9bc2;
    --phs-color-navbar-border: #cccccc;
    --phs-color-footer-bg: #252542;
    --phs-color-border: #cccccc;
    --phs-color-link: #80bcea;
    --phs-color-link-hover: #b3d7f2;
    --phs-color-text-muted: #b5aec2;
    --phs-color-surface-hover: #a2179f26;
}

html[data-bs-theme='light'] {
    --phs-logo-path: url('../img/phs-logo.svg');
    --phs-ogl-logo-path: url('../img/ogl-logo.svg');
    --phs-color-bg: #ffffff;
    --phs-color-fg: #333333;
    --phs-color-navbar-bg: #ffffff;
    --phs-data-grid-header-bgcolor: #ffffff;
    --phs-color-primary: #3F3685;
    --phs-color-navbar-border: #3d3d5c;
    --phs-color-footer-bg: #f5f5f5;
    --phs-color-border: #3d3d5c;
    --phs-color-link: #0078d4;
    --phs-color-link-hover: #004d88;
    --phs-color-text-muted: #666666;
    --phs-color-surface-hover: #ecebf3;
}

:root {
  --navbar-height-default: 160px;
  --navbar-height-scrolled: 105px;
  --navbar-height: var(--navbar-height-scrolled);
  --navbar-height-mobile: 145px;
  --navbar-height-mobile-scrolled: 90px;
  --phs-max-width: 1290px;
  --phs-dashboard-padding: 32px;
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  /* --bs-body-font-family: "Source Sans 3"; */
  --bs-body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-dropdown-link-active-color: var(--phs-color-primary);
}

/* give a padding top to the body object */
body { 
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    padding: 88px 0px 0px 0px; 
    background-color: var(--phs-color-bg);
    color: var(--phs-color-fg);
}

body > .container-fluid {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body > .container-fluid .tab-content {
  padding: var(--phs-dashboard-padding);
  min-height: 800px;
}

.phs-plot-container {
    height: 400px;
}

.phs-kpi-row {
    background-color: var(--phs-color-footer-bg) !important;
    min-height: 160px;
    max-height: 520px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.phs-kpi-box {
    background-color: var(--phs-color-bg) !important;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 120px;
    flex-shrink: 0;
    padding: 0px;
    margin: 0px;
}

/* Change highlight color when selecting an option */
.selectize-dropdown .option.active {
    background-color: var(--phs-color-primary) !important;
    color: var(--phs-color-bg) !important;
}

.selectize-dropdown .option:hover {
    background-color: var(--phs-color-primary) !important;
    color: var(--phs-color-bg) !important;
}

/* Remove the blue border glow */
.selectize-input.focus {
    border-color: var(--phs-color-primary) !important;
    box-shadow: 0 0 0 2px var(--phs-color-primary) !important;
}
